 @-webkit-keyframes roll-in-blurred-left {
     0% {
         -webkit-transform: translateX(-1000px) rotate(-720deg);
         transform: translateX(-1000px) rotate(-720deg);
         -webkit-filter: blur(50px);
         filter: blur(50px);
         opacity: 0;
     }

     100% {
         -webkit-transform: translateX(0) rotate(0deg);
         transform: translateX(0) rotate(0deg);
         -webkit-filter: blur(0);
         filter: blur(0);
         opacity: 1;
     }
 }

 @keyframes roll-in-blurred-left {
     0% {
         -webkit-transform: translateX(-1000px) rotate(-720deg);
         transform: translateX(-1000px) rotate(-720deg);
         -webkit-filter: blur(50px);
         filter: blur(50px);
         opacity: 0;
     }

     100% {
         -webkit-transform: translateX(0) rotate(0deg);
         transform: translateX(0) rotate(0deg);
         -webkit-filter: blur(0);
         filter: blur(0);
         opacity: 1;
     }
 }




 .container {
     width: 500px;
     margin-left: auto;
     margin-right: auto;
     text-align: center;
 }


 .btn-12 {
     background: none;
     border: none;
     width: 130px;
     height: 40px;
     line-height: 42px;
     transition: all .3s;
     margin-bottom: 300px;

     & span {
         background: rgb(201, 161, 201);
         display: block;
         position: absolute;
         width: 130px;
         height: 40px;
         border-radius: 5px;
         margin: 0;
         text-align: center;
         -webkit-transition: all .3s;
         transition: all .3s;
     }

     & span:nth-child(1) {
         -webkit-transform: rotateX(90deg);
         -moz-transform: rotateX(90deg);
         transform: rotateX(90deg);
         -webkit-transform-origin: 50% 50% -20px;
         -moz-transform-origin: 50% 50% -20px;
         transform-origin: 50% 50% -20px;
     }

     & span:nth-child(2) {
         -webkit-transform: rotateX(0deg);
         -moz-transform: rotateX(0deg);
         transform: rotateX(0deg);
         -webkit-transform-origin: 50% 50% -20px;
         -moz-transform-origin: 50% 50% -20px;
         transform-origin: 50% 50% -20px;
     }

     &:hover span:nth-child(1) {
         -webkit-transform: rotateX(0deg);
         -moz-transform: rotateX(0deg);
         transform: rotateX(0deg);
     }

     &:hover span:nth-child(2) {
         color: transparent;
         -webkit-transform: rotateX(-90deg);
         -moz-transform: rotateX(-90deg);
         transform: rotateX(-90deg);
     }

     &:active {
         transform: scale(0.85);
         -webkit-transform: scale(0.85);
         -moz-transform: scale(0.85);

         & span {
             background-color: rgb(145, 111, 145);

         }
     }

 }


 #block {
     width: 300px;
     background-color: rgb(137, 231, 223);
     padding: 30px;
     margin: 30px;
     margin-bottom: 0px;
     margin-left: auto;
     margin-right: auto;
     text-align: center;
     display: none;
     -webkit-animation: roll-in-blurred-left 0.65s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
     animation: roll-in-blurred-left 0.65s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
 }

 .menu {
     display: flex;
     justify-content: center;
 }

 .dropdown {
     padding: 20px 40px;
     display: flex;
     justify-content: center;
     align-items: center;
     color: white;
     background: rgb(201, 158, 179);
     background: #5e3454;
     position: relative;
     font-size: 18px;
     perspective: 1000px;
     z-index: 100;


 &:hover {
     background: #b429b9;
     cursor: pointer;
 }


 &:hover .dropdown_menu li {
     display: block;
 } }



 .dropdown_menu {
     position: absolute;
     top: 100%;
     left: 0;
     width: 100%;
     perspective: 1000px;
     z-index: -1;
    }

 li {
     display: none;
     color: white;
     background-color: #5e3458;
     padding: 10px 20px;
     font-size: 16px;
     opacity: 0;


 &:hover {
     background-color: #b929ad;
 } }

 .dropdown:hover .dropdown_menu--animated {
    display: block;

 }
.dropdown_menu--animated
{
    display: none;

}
    li
    {
        display: block;
        opacity: 1;
    }
     

.dropdown_menu-6

{
    animation: growDown 300ms ease-in-out forwards;
    transform-origin: top center;
}
    


@keyframes growDown {
    0% {
        transform: scaleY(0);
    }
    80% {
        transform: scaleY(1.1);
    }
    100% {
        transform: scaleY(1);
    }
}